/* Estilos generales para el cuerpo de la página */
body {
  background-color: #1f1f1f;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal de la página */
.container-tickets {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la fila siguiente en dispositivos pequeños */
  background-color: #303030;
  border-radius: 10px;
  padding: 20px;
}

/* Estilos para el contenedor del contenido principal y formulario */
.content-container {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column; /* Cambia la dirección de la disposición a columna en dispositivos móviles */
}

/* Estilos para el contenido principal */
.main-content {
  flex: 1;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px; /* Agrega un margen inferior para separarlo del formulario en dispositivos móviles */
}

/* Estilos para el contenedor del formulario */
.form-container {
  width: 35%;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para la barra de búsqueda */
.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #ff4646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la lista de turnos */
.turno-list {
  list-style: none;
  padding: 0;
}

.turno-list li {
  background-color: #303030;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el contenedor de detalles del turno */
.details-container {
  background-color: #303030;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para los botones en el contenedor de acciones */
.actions-container button {
  margin-right: 10px;
  background-color: #ff4646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-container button:last-child {
  margin-right: 0;
}

/* Estilos para el formulario de registro de nuevo turno */
.form-container button {
  margin-top: 10px;
  background-color: #ff4646;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Media query para dispositivos con ancho de pantalla de hasta 768px (móviles) */
@media (max-width: 768px) {
  /* Estilos para el contenedor del formulario en dispositivos móviles */
  .form-container {
    width: 100%;
    margin-top: 20px;
  }
}
